@@include('./_header.htm', {
  "about": "active"
})
  <main id="main">
    <section class="breadcrumbs">
      <div class="container">
        <div class="d-flex justify-content-between align-items-center">
          <h2>Об учреждении</h2>
          <ol>
            <li><a href="/uszmto/">Главная</a></li>
            <li>Об учреждении</li>
          </ol>
        </div>
      </div>
    </section>
    <section class="inner-page">
      <div class="container">
        <p class="text-center">
          Руководство УСЗ и МТО Минтруда России понимает, что залогом успеха в реализации поставленных целей перед организацией является развитие наших сотрудников. Поэтому у нас разработана и достаточно длительное время эффективно работает система планирования карьеры. Сотрудники имеют возможность не только занимать следующую ступеньку карьерной лестницы, они могут развиваться профессионально, повышать свою квалификацию, которая будет адекватно оценена руководством.
        </p>
      </div>
      <section id="personal" class="personal">
        <div class="container">

            <div class="section-title">
              <h2>Структура</h2>
            </div>
            <div class="row">
            <div class="col-lg-4 offset-lg-4 mt-4">
              <div class="member d-flex align-items-center">
                <div class="pic"><img src="assets/img/portrait/0.png" class="img-fluid" alt=""></div>
                <div class="member-info">
                  <h4>Бертрам<br>Андрей<br>Александрович</h4>
                  <span></span>
                  <p>Директор учреждения<br><br></p>
                </div>
              </div>
            </div>
            </div>
  
            <div class="row">
            <div class="col-lg-4 mt-4">
              <div class="member d-flex align-items-center">
                <div class="pic"><img src="assets/img/portrait/0.png" class="img-fluid" alt=""></div>
                <div class="member-info">
                  <h4>Прокушкин<br>Константин<br>Владимирович</h4>
                  <span></span>
                  <p>Заместитель директора<br><br></p>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 mt-4">
              <div class="member d-flex align-items-center">
                <div class="pic"><img src="assets/img/portrait/0.png" class="img-fluid" alt=""></div>
                <div class="member-info">
                  <h4>Еркеева<br>Наталья<br>Альфредовна</h4>
                  <span></span>
                  <p>Заместитель директора<br><br></p>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 mt-4">
              <div class="member d-flex align-items-center">
                <div class="pic"><img src="assets/img/portrait/0.png" class="img-fluid" alt=""></div>
                <div class="member-info">
                  <h4>Рыськов<br>Игорь<br>Николаевич</h4>
                  <span></span>
                  <p>Заместитель директора<br><br></p>
                </div>
              </div>

            </div>
            <div class="col-lg-4 mt-4">
              <div class="member d-flex align-items-center">
                <div class="pic"><img src="assets/img/portrait/0.png" class="img-fluid" alt=""></div>
                <div class="member-info">
                  <h4>Фишер<br>Елена<br>Геннадьевна</h4>
                  <span></span>
                  <p>Главный бухгалтер<br><br></p>
                </div>
              </div>
          </div>

          <div class="col-lg-4 mt-4">
            <div class="member d-flex align-items-center">
              <div class="pic"><img src="assets/img/portrait/0.png" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Новиков<br>Алексей<br>Игоревич</h4>
                <span></span>
                <p>Главный инженер<br><br></p>
              </div>
            </div>
        </div>

        <div class="col-lg-4 mt-4">
          <div class="member d-flex align-items-center">
            <div class="pic"><img src="assets/img/portrait/0.png" class="img-fluid" alt=""></div>
            <div class="member-info">
              <h4>Чавкин<br>Евгений<br>Дмитриевич</h4>
              <span></span>
              <p>Зам. главного инженера<br><br></p>
            </div>
          </div>
      </div>

      <div class="col-lg-4 mt-4">
        <div class="member d-flex align-items-center">
          <div class="pic"><img src="assets/img/portrait/0.png" class="img-fluid" alt=""></div>
          <div class="member-info">
            <h4>Дубенюк<br>Екатерина<br>Александровна</h4>
            <span></span>
            <p>Начальник отдела<br>Отдел кадров<br></p>
          </div>
        </div>
    </div>

    <div class="col-lg-4 mt-4">
      <div class="member d-flex align-items-center">
        <div class="pic"><img src="assets/img/portrait/0.png" class="img-fluid" alt=""></div>
        <div class="member-info">
          <h4>Синицин<br>Денис<br>Алексеевич</h4>
          <span></span>
          <p>Начальник отдела<br>Юридический отдел<br></p>
        </div>
      </div>
  </div>

  <div class="col-lg-4 mt-4">
    <div class="member d-flex align-items-center">
      <div class="pic"><img src="assets/img/portrait/0.png" class="img-fluid" alt=""></div>
      <div class="member-info">
        <h4>Рудакова<br>Ольга<br>Викторовна</h4>
        <span></span>
        <p>И.о. начальника отдела<br>Отдел бухгалтерского учета и бюджетного планирования<br></p>
      </div>
    </div>
</div>


<div class="col-lg-4 mt-4">
  <div class="member d-flex align-items-center">
    <div class="pic"><img src="assets/img/portrait/0.png" class="img-fluid" alt=""></div>
    <div class="member-info">
      <h4>Смирнова<br>Ксения<br>Александровна</h4>
      <span></span>
      <p>Начальник отдела закупок<br>Отдел организации и планирования закупок<br></p>
    </div>
  </div>
</div>

<div class="col-lg-4 mt-4">
  <div class="member d-flex align-items-center">
    <div class="pic"><img src="assets/img/portrait/0.png" class="img-fluid" alt=""></div>
    <div class="member-info">
      <h4>Зрячев<br>Сергей<br>Иванович</h4>
      <span></span>
      <p>Начальник отдела<br>Отдел эксплуатации и материально-технического обеспечения<br></p>
    </div>
  </div>
</div>

<div class="col-lg-4 mt-4">
  <div class="member d-flex align-items-center">
    <div class="pic"><img src="assets/img/portrait/0.png" class="img-fluid" alt=""></div>
    <div class="member-info">
      <h4>Соболев<br>Алексей<br>Михайлович</h4>
      <span></span>
      <p>Начальник отдела<br>Отдел вентиляции и кондиционирования<br></p>
    </div>
  </div>
</div>

<div class="col-lg-4 mt-4">
  <div class="member d-flex align-items-center">
    <div class="pic"><img src="assets/img/portrait/0.png" class="img-fluid" alt=""></div>
    <div class="member-info">
      <h4>Артемов<br>Владимир<br>Вячеславович</h4>
      <span></span>
      <p>Начальник отдела<br>Отдел электротехнического оборудования и лифтового обслуживания<br></p>
    </div>
  </div>
</div>

<div class="col-lg-4 mt-4">
  <div class="member d-flex align-items-center">
    <div class="pic"><img src="assets/img/portrait/0.png" class="img-fluid" alt=""></div>
    <div class="member-info">
      <h4>Резенов<br>Михаил<br>Владимирович</h4>
      <span></span>
      <p>Начальник отдела<br>Отдел сантехнического обеспечения<br></p>
    </div>
  </div>
</div>

<div class="col-lg-4 mt-4">
  <div class="member d-flex align-items-center">
    <div class="pic"><img src="assets/img/portrait/0.png" class="img-fluid" alt=""></div>
    <div class="member-info">
      <h4>Соболев<br>Виталий<br>Константинович</h4>
      <span></span>
      <p>Начальник отдела<br>Отдел автотранспортного обеспечения<br></p>
    </div>
  </div>
</div>

<div class="col-lg-4 mt-4">
  <div class="member d-flex align-items-center">
    <div class="pic"><img src="assets/img/portrait/0.png" class="img-fluid" alt=""></div>
    <div class="member-info">
      <h4>Улитина<br>Татьяна<br>Васильевна</h4>
      <span></span>
      <p>Начальник отдела<br>Отдел общественного питания<br></p>
    </div>
  </div>
</div>

<div class="col-lg-4 mt-4">
  <div class="member d-flex align-items-center">
    <div class="pic"><img src="assets/img/portrait/0.png" class="img-fluid" alt=""></div>
    <div class="member-info">
      <h4>Теплов<br>Сергей<br>Львович</h4>
      <span></span>
      <p>Начальник отдела<br>Отдел по эксплуатации загородного объекта<br></p>
    </div>
  </div>
</div>

<div class="col-lg-4 mt-4">
  <div class="member d-flex align-items-center">
    <div class="pic"><img src="assets/img/portrait/0.png" class="img-fluid" alt=""></div>
    <div class="member-info">
      <h4>Федулова<br>Ольга<br>Николаевна</h4>
      <span></span>
      <p>Начальник отдела<br>Отдел мониторинга и оптимизации оказания государственных услуг и взаимодействия с гражданами<br></p>
    </div>
  </div>
</div>

<div class="col-lg-4 mt-4">
  <div class="member d-flex align-items-center">
    <div class="pic"><img src="assets/img/portrait/0.png" class="img-fluid" alt=""></div>
    <div class="member-info">
      <h4>Трофимов<br>Антон<br>Алексеевич</h4>
      <span></span>
      <p>Начальник отдела<br>Отдел АиТПИИ<br></p>
    </div>
  </div>
</div>

        </div>
        </div>
      </section>
    </section>

  </main>
  @@include("./_footer.htm")