@@include('./_header.htm', {
  "about": "active"
})
  <main id="main">
    <section class="breadcrumbs">
      <div class="container">
        <div class="d-flex justify-content-between align-items-center">
          <h2>Об учреждении</h2>
          <ol>
            <li><a href="/uszmto/">Главная</a></li>
            <li>Об учреждении</li>
          </ol>
        </div>
      </div>
    </section>
    <section class="inner-page">
      <div class="container">
        <p class="text-center">
          Руководство УСЗ и МТО Минтруда России понимает, что залогом успеха в реализации поставленных целей перед организацией является развитие наших сотрудников. Поэтому у нас разработана и достаточно длительное время эффективно работает система планирования карьеры. Сотрудники имеют возможность не только занимать следующую ступеньку карьерной лестницы, они могут развиваться профессионально, повышать свою квалификацию, которая будет адекватно оценена руководством.
        </p>
      </div>
      <section id="personal" class="personal">
        <div class="container">
          <div class="row">
            <div class="section-title">
              <h2>Структура</h2>
            </div>
            <div class="col-lg-6">
              <div class="member d-flex align-items-start">
                <div class="pic"><img src="assets/img/portrait/1.jpg" class="img-fluid" alt=""></div>
                <div class="member-info">
                  <h4>Петренко Илья<br>Владимирович</h4>
                  <span></span>
                  <p>Директор учреждения<br><br>petrenkoiv@uszmto.ru<br>+7 (999) 999-99-99</p>
                </div>
              </div>
            </div>
  
            <div class="col-lg-6 mt-4 mt-lg-0">
              <div class="member d-flex align-items-start">
                <div class="pic"><img src="assets/img/portrait/2.jpg" class="img-fluid" alt=""></div>
                <div class="member-info">
                  <h4>Ковалева Наталья<br>Павловна</h4>
                  <span></span>
                  <p>Главный бухгалтер<br><br>kovalevanp@uszmto.ru<br>+7 (999) 999-99-99</p>
                </div>
              </div>
            </div>
  
            <div class="col-lg-6 mt-4">
              <div class="member d-flex align-items-start">
                <div class="pic"><img src="assets/img/portrait/3.jpg" class="img-fluid" alt=""></div>
                <div class="member-info">
                  <h4>Зеленская Юлия<br>Сергеевна</h4>
                  <span></span>
                  <p>Заместитель директора по экономике и финансам<br><br>zelenskayays@uszmto.ru<br>+7 (999) 999-99-99</p>
                </div>
              </div>
            </div>
  
            <div class="col-lg-6 mt-4">
              <div class="member d-flex align-items-start">
                <div class="pic"><img src="assets/img/portrait/4.jpg" class="img-fluid" alt=""></div>
                <div class="member-info">
                  <h4>Фомичев Андрей<br>Юрьевич</h4>
                  <span></span>
                  <p>Менеджер отдела по работе с клиентами<br><br>fomichevay@uszmto.ru<br>+7 (999) 999-99-99</p>
                </div>
              </div>
            </div>
  
          </div>
  
        </div>
      </section>
    </section>

  </main>
  @@include("./_footer.htm")