@@include('./_header.htm', {
  "features": "active"
})
  <main id="main">
    <section class="breadcrumbs">
      <div class="container">
        <div class="d-flex justify-content-between align-items-center">
          <h2>Деятельность</h2>
          <ol>
            <li><a href="/uszmto/">Главная</a></li>
            <li>Деятельность</li>
          </ol>
        </div>
      </div>
    </section>
    <section class="inner-page">
      <div class="container">
        <p class="text-center">
          Важнейшей особенностью управления современной организацией является стремление достичь продуктивного пересечения интересов организации и интересов её сотрудников. Основным инструментом создания этой точки соприкосновения является корпоративная культура организации. Но только управляемая корпоративная культура сможет создать условия для взаимного развития и достижения поставленных целей организации. Корпоративная культура является отражением принципов руководства организацией, ее философии, целей и ценностей.        </p>
      </div>
      <section id="personal" class="personal">
        <div class="container">
          <div class="row">
            <div class="section-title">
              <h2>Документы</h2>
            </div>
            <div class="col-lg-6">
              <div class="member d-flex align-items-start">
                <!-- <div class="pic"><img src="assets/img/portrait/1.jpg" class="img-fluid" alt=""></div> -->
                <div class="member-info">
                  <h4>Приказ о принятии Устава №194 от 30.05.2011г</h4>
                  <span></span>
                  <br><a href="#"><i class="fas fa-file-pdf"></i> Посмотреть</a>
                </div>
              </div>
            </div>
  
            <div class="col-lg-6 mt-4 mt-lg-0">
              <div class="member d-flex align-items-start">
                <!-- <div class="pic"><img src="assets/img/portrait/2.jpg" class="img-fluid" alt=""></div> -->
                <div class="member-info">
                  <h4>Приказ № 24 от 09.02.2012г. о внесение изменений в Устав</h4>
                  <span></span>
                  <br><a href="#"><i class="fas fa-file-word"></i> Скачать</a>
                </div>
              </div>
            </div>
  
            <div class="col-lg-6 mt-4">
              <div class="member d-flex align-items-start">
                <!-- <div class="pic"><img src="assets/img/portrait/3.jpg" class="img-fluid" alt=""></div> -->
                <div class="member-info">
                  <h4>Свидетельство о регистрации в нал.учете рос. организации</h4>
                  <span></span>
                  <br><a href="#"><i class="fas fa-file-excel"></i> Скачать</a>
                </div>
              </div>
            </div>
  
            <div class="col-lg-6 mt-4">
              <div class="member d-flex align-items-start">
                <!-- <div class="pic"><img src="assets/img/portrait/4.jpg" class="img-fluid" alt=""></div> -->
                <div class="member-info">
                  <h4>Отчет о результатах деятельности<br>2020 года</h4>
                  <span></span>
                  <br><a href="#"><i class="fas fa-file-alt"></i> Скачать</a>
                </div>
              </div>
            </div>
  
          </div>
  
        </div>
      </section>
    </section>

  </main>
  @@include("./_footer.htm")