@@include('./_header.htm', {
  "contacts": "active"
})
  <main id="main">
    <section class="breadcrumbs">
      <div class="container">
        <div class="d-flex justify-content-between align-items-center">
          <h2>Контакты</h2>
          <ol>
            <li><a href="/uszmto/">Главная</a></li>
            <li>Контакты</li>
          </ol>
        </div>
      </div>
    </section>
      <section id="contact" class="contact">
        <div class="container">
          <div class="row mt-5">
            <div class="col-lg-4">
              <div class="info">
                <div class="address">
                  <i class="bi bi-geo-alt"></i>
                  <h4>Адрес</h4>
                  <p>ул. Ильинка, 15, Москва, 109012</p>
                </div>
                <div class="email">
                  <i class="bi bi-envelope"></i>
                  <h4>Email</h4>
                  <p>mail@uszmto.ru</p>
                </div>
                <div class="phone">
                  <i class="bi bi-phone"></i>
                  <h4>Телефон</h4>
                  <p>+7 (999) 999-99-99</p>
                </div>
              </div>
            </div>
            <div class="col-lg-8 mt-5 mt-lg-0">
              <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                <div class="row">
                  <div class="col-md-6 form-group">
                    <input type="text" name="name" class="form-control" id="name" placeholder="Ваше имя" required>
                  </div>
                  <div class="col-md-6 form-group mt-3 mt-md-0">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Ваш Email" required>
                  </div>
                </div>
                <div class="form-group mt-3">
                  <input type="text" class="form-control" name="subject" id="subject" placeholder="Тема письма" required>
                </div>
                <div class="form-group mt-3">
                  <textarea class="form-control" name="message" rows="5" placeholder="Сообщение" required></textarea>
                </div>
                <div class="my-3">
                  <div class="loading">Загрузка...</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Ваше сообщение отправлено. Спасибо!</div>
                </div>
                <div class="text-center"><button type="submit">Отправить</button></div>
              </form>
            </div>
          </div>
        </div>
        <div class="cmap">
          <iframe style="border:0; width: 100%; height: 350px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d333.73697900025553!2d37.6273029232048!3d55.756663692309054!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54a593f061ca5%3A0xeb182992c8dee0ea!2z0YPQuy4g0JjQu9GM0LjQvdC60LAsIDE1LCDQnNC-0YHQutCy0LAsIDEwOTAxMg!5e0!3m2!1sru!2sru!4v1619554630198!5m2!1sru!2sru" frameborder="0" allowfullscreen></iframe>
        </div>
      </section>

  </main>
  @@include("./_footer.htm")