@@include('./_header.htm', {
  "index": "active"
})
  <section style="background: url(assets/img/hero-bg.jpg) top center;background-size: cover;" id="hero" class="d-flex align-items-center">
    <div class="container">
      <h1>Федеральное государственное<br>бюджетное учреждение</h1>
      <h2>«Управление служебными зданиями и материально-техническим обеспечением»<br>Министерства труда и социальной защиты</h2>
    </div>
  </section>
  <main id="main">
    <section id="why-us" class="why-us">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 d-flex align-items-stretch">
            <div class="content">
              <h3>Основная цель</h3>
              <p>
                Cодержание и эксплуация административных зданий, информационных систем и техническая поддержка пользователей закрепленных за Министерством труда РФ</p>
              <div class="text-center">
              </div>
            </div>
          </div>
          <div class="col-lg-8 d-flex align-items-stretch">
            <div class="icon-boxes d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-buildings"></i>
                    <h4>Вышестоящая организация</h4>
                    <p>Министерство труда и социальной защиты Российской Федерации</p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-home"></i>
                    <h4>Объекты</h4>
                    <p>Организация и осуществление эксплуатации систем и оборудования объектов</p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-desktop"></i>
                    <h4>Информационная инфраструктура</h4>
                    <p>Внедрение, сопровождение и техническая поддержка Информационной инфраструктуры</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="about" class="about">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch position-relative">
          </div>
          <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
            <h3>Техническое обслуживание</h3>
            <p>Учитываются все пожелания Заказчика по предоставляемым услугам</p>
            <div class="icon-box">
              <div class="icon"><i class="bx bx-phone"></i></div>
              <h4 class="title"><a>Горячая линия</a></h4>
              <p class="description">Для обеспечения своевременной реакции на заявки работает «горячая линия»</p>
            </div>
            <div class="icon-box">
              <div class="icon"><i class="bx bx-envelope"></i></div>
              <h4 class="title"><a>Электронная почта</a></h4>
              <p class="description">Система приема заявок технической поддержки средствами электронной почты</p>
            </div>
            <div class="icon-box">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4 class="title"><a>Документация</a></h4>
              <p class="description">Для обеспечения оптимального качества выполнения работ, специалистами ведется вся требуемая техническая документация</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="counts" class="counts">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="count-box">
              <i class="fas fa-user"></i>
              <span data-purecounter-start="0" data-purecounter-end="85" data-purecounter-duration="1" class="purecounter"></span>
              <p>Специалистов</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
            <div class="count-box">
              <i class="far fa-building"></i>
              <span data-purecounter-start="0" data-purecounter-end="18" data-purecounter-duration="1" class="purecounter"></span>
              <p>Партнеров</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="fas fa-calendar"></i>
              <span data-purecounter-start="0" data-purecounter-end="12" data-purecounter-duration="1" class="purecounter"></span>
              <p>Лет на рынке</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="fas fa-award"></i>
              <span data-purecounter-start="0" data-purecounter-end="150" data-purecounter-duration="1" class="purecounter"></span>
              <p>Наград</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="services" class="services">
      <div class="container">
        <div class="section-title">
          <h2>Услуги</h2>
          <p>Многолетний опыт в реализации проектов - залог надежности, а высококлассные специалисты компании - гарантия выполнения полного цикла работ от предварительного обследования до внедрения и сопровождения конечных продуктов</p>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="icon-box">
              <div class="icon"><i class="fas fa-code"></i></div>
              <h4><a href="">Разработка и сопровождение программного обеспечения</a></h4>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
            <div class="icon-box">
              <div class="icon"><i class="fas fa-cogs"></i></div>
              <h4><a href="">Системная интеграция продуктов</a></h4>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="icon-box">
              <div class="icon"><i class="fas fa-diagnoses"></i></div>
              <h4><a href="">Консалтинг в области информационных технологий</a></h4>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
            <div class="icon-box">
              <div class="icon"><i class="fas fa-server"></i></div>
              <h4><a href="">Техническое обслуживание информационных систем</a></h4>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
            <div class="icon-box">
              <div class="icon"><i class="fas fa-building"></i></div>
              <h4><a href="">Содержание и эксплуация административных зданий</a></h4>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
            <div class="icon-box">
              <div class="icon"><i class="fas fa-hand-sparkles"></i></div>
              <h4><a href="">Обеспечение уборки служебных и бытовых помещений объектов</a></h4>
            </div>
          </div>
        </div>
      </div>
    <section id="contact" class="contact">
      <div class="container">
        <div class="section-title">
          <h2>Контакты</h2>
          <p></p>
        </div>
      </div>
      <div>
        <iframe style="border:0; width: 100%; height: 350px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d333.73697900025553!2d37.6273029232048!3d55.756663692309054!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54a593f061ca5%3A0xeb182992c8dee0ea!2z0YPQuy4g0JjQu9GM0LjQvdC60LAsIDE1LCDQnNC-0YHQutCy0LAsIDEwOTAxMg!5e0!3m2!1sru!2sru!4v1619554630198!5m2!1sru!2sru" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="container">
        <div class="row mt-5">
          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Адрес</h4>
                <p><span class="data-addr1"></span>, <span class="data-addr2"></span></p>
              </div>
              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email</h4>
                <p><span class="data-email"></span></p>
              </div>
              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Телефон</h4>
                <p><span class="data-phone"></span></p>
              </div>
            </div>
          </div>
          <div class="col-lg-8 mt-5 mt-lg-0">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Ваше имя" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Ваш Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Тема письма" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Сообщение" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Загрузка...</div>
                <div class="error-message"></div>
                <div class="sent-message">Ваше сообщение отправлено. Спасибо!</div>
              </div>
              <div class="text-center"><button type="submit">Отправить</button></div>
            </form>
          </div>
        </div>
      </div>
    </section>
  </main>
@@include("./_footer.htm")